body{
margin-left: 25%;
margin-top: 9%;
}
div{
border: 1px solid rgb(30, 255, 9);
border-radius: 15%;
background: radial-gradient(yellow,orange,rgb(1, 230, 1));
height: 50%;
width: 25%;
position: absolute;
}
div:before
{
content: '';
top: 0;
left: 0;
right:0;
bottom:0;
height: 60%;
width: 60%;
border: 7px solid rgb(255, 254, 249);
border-radius: 25%;
position: absolute;
margin: auto;
}
div:after
{
content: '';
top: 0;
left: 0;
right:0;
bottom:0;
height: 20%;
width: 20%;
border: 7px solid rgb(255, 254, 249);
border-radius: 100%;
position: absolute;
margin: auto;
}
span{
content: '';
top: 0px;
left: 85px;
right: 0;
bottom:85px;
height: 0%;
width: 0%;
border: 10px solid rgb(255, 254, 249);
border-radius: 100%;
position: absolute;
margin: auto;
}